<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

   <bean id="helloSpring" class="com.nisarg.HelloSpring">
       
       <property name="s1" value=" This is s1. " ></property>
       <!--<constructor-arg value = "Hello spring"></constructor-arg>-->
   </bean> 
   
   <bean id="sc1" class="com.nisarg.SpellChecker"> 
   <!--<property name="str1" value = " value of string of spell checker class"></property>-->
     <constructor-arg value = " --- constructor value string of spell checker class"></constructor-arg>
    </bean>

</beans>